*{
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

.container{
  height:200px ;
  width: 100%;
  margin: auto;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
  background-color: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

}

.shopify{
  width: 100px;
}

ul{
  display: flex;
}

ul li{
  list-style: none;
}

ul li a{
  padding: 0px 12px;
  text-decoration: none;
  color: white;
}

.btn{
  background-color: white;
  border-radius: 25px;
  padding: 12px 5px;
  margin-top:-7px;
  margin-left: 10px;
}

.btn a{
  color:black;
}

.section2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.left{
  color: white;
  
  font-size: 55px;
}

.right{
  font-size: medium;
  color: rgb(178, 178, 178);
}

.card-row{
  display: flex;
  justify-content: space-around;
  color: rgb(171, 169, 169);
  padding: 30px 50px;
}

.card-row .card{
width: 32%;
}

.card-row .card img{
  width: 100%;
  border-radius: 20px;
}

  .card-row .card h3{
    padding: 10px;
    color: white;
}

  .card1:hover{
    content: url('./img/card\ 1.webp');
    width: 100%;
    border-radius: 20px;
}

  .card2:hover{
    content: url('./img/card2.webp');
    width: 100%;
    border-radius: 20px;
}

  .card3:hover{
    content: url('./img/card3.webp');
    width: 100%;
    border-radius: 20px;
  }

  .pick{
    border: 2px solid white;
    border-radius: 25px;
    padding: 15px 5px;
  }

  .pick:hover{
    background-color: white;
  }

.pick a{
  color: white;
  text-decoration: none;
  padding: 25px 20px;
}

.pick a:hover{
  color: black
}